body {
  font-family: "Space Grotesk", sans-serif;
}
header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 130px;
  /* padding: 50px 30px 30px 150px; */
}
.nav-title {
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav span {
  color: #fd6e0a;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
}
ul li a {
  cursor: pointer;
  text-decoration: none;
  margin-right: 50px;
  color: #474747;
  font-size: 20px;
}
.nav-btn {
  cursor: pointer;
  border: none;
  background-color: #fd6e0a;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

/* starting design banner */
.banner-container {
  display: flex;
  align-items: center;
  padding: 30px 30px 0 150px;
  justify-content: space-between;
}
.banner-greet {
  font-size: 45px;
}
.banner-name {
  font-size: 85px;
}
.banner-text {
  margin-top: 5px;
  letter-spacing: 1.5px;
  line-height: 30px;
  font-size: 18px;
  max-width: 585px;
}
.banner button {
  margin-right: 30px;
}
.banner button:last-child {
  background-color: #fff;
  color: #fd6e0a;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
}
.banner button:last-child:hover {
  background-color: #fd6e0a;
  color: #fff;
}
.banner-img img {
  width: 400px;
  /* margin-left: 100px; */
}
/* ending design banner */
